{
  "openapi": "3.0.3",
  "info": {
    "title": "Horoshop API",
    "version": "1.0.0",
    "description": "Hand-maintained contract from https://horoshop.notion.site/api-doc (store has no /api/doc.json)."
  },
  "servers": [
    {
      "url": "https://shop703343.horoshop.ua"
    }
  ],
  "paths": {
    "/api/auth/": {
      "post": {
        "summary": "Authorize and receive API token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["login", "password"],
                "properties": {
                  "login": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always HTTP 200; business result is in status field",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["status", "response"],
                      "properties": {
                        "status": { "type": "string", "enum": ["OK"] },
                        "response": {
                          "type": "object",
                          "required": ["token"],
                          "properties": {
                            "token": {
                              "type": "string",
                              "pattern": "^[a-f0-9]{32}$",
                              "description": "Token lifetime is 600 seconds"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status", "response"],
                      "properties": {
                        "status": { "type": "string", "enum": ["ERROR"] },
                        "response": {
                          "type": "object",
                          "required": ["message"],
                          "properties": {
                            "message": { "type": "string" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/catalog/export/": {
      "post": {
        "summary": "Export catalog products",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{32}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always HTTP 200; business result is in status field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "response"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "AUTHORIZATION_ERROR", "UNAUTHORIZED", "ERROR"]
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["article", "slug", "price", "title", "link"],
                            "properties": {
                              "article": { "type": "string" },
                              "slug": { "type": "string" },
                              "price": { "type": "number" },
                              "title": {
                                "type": "object",
                                "properties": {
                                  "ua": { "type": "string" }
                                }
                              },
                              "link": { "type": "string", "format": "uri" }
                            }
                          }
                        },
                        "message": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
